@import "../footer/footer.scss";
@import "../header/header.scss";
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
}
.text-center__middle{
  margin-top: 6px;
  font-variant: small-caps;
  font-family: serif;
  font-size: x-large;
}